@media (max-width: 576px) {
  .container {
    width: 576px; } }

@media (max-width: 1200px) {
  .container {
    width: 1200px; } }

@media (min-width: 768px) and (max-width: 1200px) {
  .container {
    width: 1000px; }
  body {
    margin: 10px; } }
